.answer-details {
  box-sizing: border-box;
  padding: 15px;

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  &__top {
    display: flex;
  }

  &__image {
    border-radius: 10px;
    margin-right: 20px;
  }

  &__info {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  &__item {
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #555;
    padding: 10px 0px 10px 5px;
  }

  .bird-name {
    font-size: 25px;
    font-weight: bold;
  }

  .bird-name-latin {
    margin-bottom: 10px;
  }
}
