.audio {
  svg {
    width: 30px;
    height: 30px;
  }

  &__controls {
    display: flex;
    align-items: center;
  }

  &__playback-button {
    border: 2px solid #00bc8c;
    border-radius: 50%;
    min-width: 36px;
    height: 36px;
    cursor: pointer;
    position: relative;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__duration {
    margin: 0;
    padding: 0;
    margin-left: auto;
  }

  &__current-time {
    margin: 0;
    padding: 0;
  }

  &__timebar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-direction: column;
    .controls {
      display: flex;
      align-items: center;
      margin-bottom: 10px;
    }
    &__bar {
      background-color: #737373;
      height: 5px;
      -webkit-appearance: none;
      width: 80%;

      &::-moz-range-thumb {
        width: 16px;
        height: 16px;
        background-color: gray;
        border-radius: 50%;
        border: none;
        cursor: pointer;
        transition: all 5s ease;
      }
      &::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 16px;
        height: 16px;
        background: gray;
        cursor: pointer;
        border-radius: 50%;
        transition: all 5s ease;
      }
    }
  }

  &__volume {
    background-color: #737373;
    height: 5px;
    -webkit-appearance: none;
    width: 20%;
    &::-moz-range-thumb {
      width: 16px;
      height: 16px;
      background-color: gray;
      border-radius: 50%;
      border: none;
      cursor: pointer;
    }
    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      width: 16px;
      height: 16px;
      background: gray;
      cursor: pointer;
      border-radius: 50%;
      transition: all 5s ease;
    }
  }

  &__details {
    display: flex;
    width: 85%;
  }
}
